h4 {
    margin-bottom: 5px;
    text-align: center;
}

.anchorContainer {
    float: left;
}

.anchorInput {
    max-width: 100%;
    border: none;
    overflow: visible;
}

.anchorInput:focus {
    outline: 0;
}

.anchorInputForm {
    max-width: 100%;
}

.anchorInputContainer {
    display: block;
    overflow: hidden;
    min-width: 20px;
    max-width: 100%;
}

.main-container {
  margin-bottom: 50px;
}

.topic {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    border: 1px solid gray;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 2px;
    width: 100%;
    min-height: 28px;
}

.anchor-and-topic {
  border: solid 2px white;
}

.document-container {
  border: 1px solid gray;
  overflow-y: auto;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  margin-left: 0px;
  margin-right: 0px;
  height: 99%;
}

.document {
  margin-bottom: 1em;
}

.top-to-bottom {
  //Height is changed in script.js
}

.anchor {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid gray;
    padding: 2px;
    width: 80%;
    min-height: 28px;
    margin: 0px;
}

.anchorWord {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 2px;
}

.topicWord {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 2px;
}

.removeAnchor {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.removeWord {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-right: 1px;
    padding-left: 1px;
    color: red;
}

.close {
    font-size: 11pt;
    padding-top: 3px;
    padding-left: 2px;
}

.loadingImage {
    position: absolute;
    display: block;
    left: 45%;
    top: 20%;
}

.loading {
    position: absolute;
    width: 100%;
    height: 150%;
    background-color: rgba(100, 100, 100, 0.4);
    z-index: 1;
}

.forms-row {
  margin-top: 5px;
  margin-left: 0px;
  bottom: 0;
  position: fixed;
  z-index: 150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:50px;
  background-color: #f5f5f5;
  width: 100%;
}

.forms-container {
  margin-left: 10px;
  margin-right: 10px;
}

.show-docs-button {
  width: 36px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#accuracyHolder {
  margin-top: 10px;
  margin-left: 240px;
}

#addAnchorForm {
    float: left;
    margin-top: 5px;
    margin-left: 50px;
}

#doneForm {
    margin-left: 200px;
    margin-top: 40px;
    float: left;
    margin-bottom: 20px;
}

#updateForm {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#newDocForm {
  float: right;
}
