<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="anchorApp">
  <head>
    <title>Anchor words</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="test1.css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="test1.js"></script>
  </head>
  <body ng-controller="anchorController as ctrl">
    <div class="container">
      <div class="row" ng-repeat="anchorObj in ctrl.anchors">
        <div class="col-sm-3">
          <button type="button" ng-click="ctrl.removeAnchor($index)" class="btn btn-danger removeAnchor">X</button>
          <div class="anchor droppable" ondrop="drop(event)" ondragover="allowDrop(event)"><span class="btn btn-default btn-sm anchorWord draggable" ng-repeat="anchorWord in anchorObj.anchors" draggable="true" ondragstart="drag(event)" id="anchor{{$parent.$index}}word{{this.$index}}">{{anchorWord}}</span></div>
        </div>
        <div class="col-sm-9">
          <div class="topic">
            <span class="btn btn-default btn-sm topicWord draggable" ng-repeat="word in anchorObj.topic" draggable="true" ondragstart="drag(event)" id="topic{{$parent.$index}}Word{{this.$index}}">{{word}}</span>
          </div>
        </div>
      </div>
      <form id="updateForm" ng-submit="ctrl.getNewTopics()">
        <button type="submit" class="btn btn-primary btn-sm">Update Topics</button>
      </form>
      <form id="addAnchorForm" ng-submit="ctrl.addAnchor()">
        <button type="submit" class="btn btn-success btn-sm">Add Anchor</button>
        <input ng-model="newAnchor" placeholder="New Anchor"></input>
      </form>
      <div id="trash" class="droppable" ondrop="drop(event)" ondragover="allowDrop(event)"><h4 id="trashLabel">Trash</h4><button onclick="emptyTrash()" class="btn btn-danger btn-sm" id="trashButton">Empty Trash</button></div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
