h4 {
    margin-bottom: 5px;
    text-align: center;
}

.anchorContainer {
    float: left;
}

.anchorInput {
    max-width: 100%;
    border: none;
    overflow: visible;
}

.anchorInput:focus {
    outline: 0;
}

.anchorInputForm {
    max-width: 100%;
}

.anchorInputContainer {
    display: block;
    overflow: hidden;
    min-width: 20px;
    max-width: 100%;
}

.topic {
    display: inline-block;
    vertical-align: middle;
    list-style-type: none;
    border: 1px solid gray;
    margin: 2.5px;
    padding: 2px;
    width: 100%;
    min-height: 28px;
}

.anchor {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid gray;
    padding: 2px;
    width: 80%;
    min-height: 28px;
    margin: 2.5px;
}

.anchorWord {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 2px;
}

.topicWord {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 2px;
}

.removeAnchor {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.removeWord {
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-right: 1px;
    padding-left: 1px;
    color: red;
}

.close {
    font-size: 11pt;
    padding-top: 3px;
    padding-left: 2px;
}

#updateForm {
    float: right;
}

#addAnchorForm {
    float: left;
}
